doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CRUD
  body
  form(method='post', action='/add')
  table
    tbody
      each student in students
        tr
          td= student.firstName
          td= student.lastName
          td 
            form(method='get', action=`/edit/${student.id}`)
              button(type='submit') Edit
          td 
            form(method="post", action=`/${student.id}`)
              button(type='submit') Delete
  form(method='post', action='/')
    input(type='text',name='firstName')
    input(type='text',name='lastName')
    input(type='submit',name='add', value="New")